/* Color Variables */
:root {
    --turquoise-color: #3FE0D0;
    --prussian-blue-color: #1E3C56;
    --fulvous-color: #D57E0B;
    --wine-color: #753742;
    --vanilla-color: #F8F4A6;
    --white-color: #ffffff;
    --dark-grey-color: #333;
    --font-family: 'Jost', sans-serif;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    color: var(--dark-grey-color);
    background-color: var(--vanilla-color);
    line-height: 1.6;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: var(--prussian-blue-color);
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    z-index: 300;
}

.navbar .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--vanilla-color);
    margin: 0 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
    text-decoration: none;

}

.navbar-link:hover {
    color: var(--fulvous-color);
}

.navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: var(--fulvous-color);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.3s ease;
}

.navbar-link:hover::before {
    width: 100%;
}

/* Active Navbar Link */
.navbar-link.active {
    color: var(--fulvous-color);
}

.navbar-link.active::before {
    width: 100%;
}

/* Sticky Navbar */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--prussian-blue-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

/* End of Navbar */


/* Hero Section */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    /* Adjust the padding to reduce vertical space */
    background-color: var(--prussian-blue-color);
    position: relative;
    height: 100vh;
}

.hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.hero-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: var(--turquoise-color);
}

.hero-text h1 span {
    color: var(--fulvous-color);
}

.hero-text h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--vanilla-color);
}

.hero-text .btn {
    background-color: var(--turquoise-color);
    color: var(--prussian-blue-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.hero-text .btn:hover {
    background-color: var(--fulvous-color);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-image svg {
    max-width: 100%;
    width: 300px;
    height: auto;
    fill: var(--turquoise-color);
    transition: fill 0.7s, transform 0.3s ease-in-out;
}

/* Hover effect for logo */
.hero-image svg:hover {
    fill: var(--fulvous-color);
    transform: scale(1.05);
}


.lvo-logo {
    width: 75%;
    fill: #3fe0d0;
    transition: fill 0.7s;
}

.lvo-logo:hover path {
    fill: #D57E0B;
    transition: fill 0.7s;
}

/* Section Titles */
.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
    color: var(--prussian-blue-color);
    text-transform: uppercase;
}

.section-title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--turquoise-color);
    display: block;
    margin: 5px auto 0;
}

/* End of Hero Section */

/* About Section */
.about-section {
    padding: 80px 0;
}

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 0 0 30%;
    /* Prevents growing/shrinking and sets base width */
    min-width: 100px;
    width: 30%;
    clip-path: polygon(50% 10%, 100% 50%, 50% 90%, 0% 50%);
    margin-bottom: 20px;
}


.about-image img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.about-text .btn {
    background-color: var(--turquoise-color);
    color: var(--white-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.about-text .btn:hover {
    background-color: var(--fulvous-color);
}

/* End of About Section */

/* Skills Section */
.skill-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-category {
    margin: 20px;
    text-align: center;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-tags span {
    background-color: #1E3C56;
    color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
}

.accordion {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /* Center-aligns accordion items */
}

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid var(--prussian-blue-color);
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    background-color: var(--prussian-blue-color);
    color: var(--vanilla-color);
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    /* Center-aligns the accordion header */
}

.accordion-content {
    display: none;
    /* Hidden by default */
    background-color: var(--vanilla-color);
    padding: 10px 15px;
    text-align: center;
    /* Center-aligns the content */
}

.accordion-content span {
    display: inline-block;
    margin: 5px;
    /* Adds space between tags */
    background-color: var(--wine-color);
    color: var(--vanilla-color);
    padding: 5px 10px;
    border-radius: 5px;
}

/* End of Skills Section */

/* Projects Section */
.projects-section {
    padding: 80px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    text-align: center;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--prussian-blue-color);
}

.project-info p {
    font-size: 1rem;
    color: var(--dark-grey-color);
    margin-bottom: 20px;
}

.project-info .btn {
    background-color: var(--turquoise-color);
    color: var(--white-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.project-info .btn:hover {
    background-color: var(--wine-color);
}

/* End of Projects Section */

/* Contact Section */
/* Contact Section */
.contact-section {
    text-align: center;
    padding: 60px 20px;
    background-color: var(--vanilla-color);
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    font-size: 2rem;
    color: var(--prussian-blue-color);
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--fulvous-color);
}

.form-group {
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--prussian-blue-color);
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.contact-form button {
    width: 100%;
    background-color: var(--prussian-blue-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #D57E0B;
}

/* End of Contact Session */

/* Footer Section */
.footer-section {
    background-color: var(--prussian-blue-color);
    color: var(--white-color);
    text-align: center;
    padding: 20px 0;
}

.footer-section p {
    margin: 0;
    font-size: 1rem;
}

/* End of Footer Section */

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .about-content {
        flex-direction: column;
    }

    .skills-content {
        flex-direction: column;
    }

    .skill-item {
        flex: 1 1 100%;
    }

    .contact-content {
        flex-direction: column;
    }

    .navbar .container {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .navbar-link {
        margin: 10px 0;
    }
}

/* End of Responsive Design */